<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean -->
	<bean id="mycity" class="com.timbuchalka.springdemo.domain.City"></bean>

	<!-- bean -->
	<bean id="myorg"
		class="com.timbuchalka.springdemo.domain.Organization">

		<!-- constructor-arg index value -->
		<constructor-arg index="0" value="Google"></constructor-arg>

		<!-- constructor-arg name value -->
		<constructor-arg name="yearOfIncorpotation_CP"
			value="1996"></constructor-arg>

		<!-- property name value -->
		<property name="postalCode" value="65734"></property>

		<!-- property name value -->
		<property name="employeeCount">
			<value>127546</value>
		</property>

		<!-- property name ref -->
		<property name="businessService" ref="cloudService"></property>
	</bean>

	<!-- bean -->
	<bean id="cloudService"
		class="com.timbuchalka.springdemo.serviceimpl.CloudServiceImpl">
	</bean>

	<!-- bean -->
	<bean id="ecommerceService"
		class="com.timbuchalka.springdemo.serviceimpl.EcommerceServiceImpl">
	</bean>


	<!-- bean -->
	<bean id="agencyRecruit"
		class="com.timbuchalka.springdemo.serviceimpl.AgencyRecruitmentServiceImpl">
	</bean>

	<!-- bean -->
	<bean id="referralRecruit"
		class="com.timbuchalka.springdemo.serviceimpl.ReferralRecruitmentServiceImpl">
	</bean>

	<!-- bean -->
	<bean id="myhrdept"
		class="com.timbuchalka.springdemo.domain.HumanResourceDept">

		<!-- constructor-arg name ref -->
		<constructor-arg name="recruitmentService"
			ref="agencyRecruit"></constructor-arg>

		<!-- constructor-arg name ref -->
		<constructor-arg name="organization" ref="myorg"></constructor-arg>

		<!-- property value name value -->
		<property name="deptName" value="Human Resource Department"></property>

	</bean>
</beans>
